@font-face {
	font-family: 'adverlo';
	src: url('fonts/adverlo.eot?76896712');
	src: url('fonts/adverlo.eot?76896712#iefix') format('embedded-opentype'),
	 	url('fonts/adverlo.woff2?76896712') format('woff2'),
		url('fonts/adverlo.woff?76896712') format('woff'),
	 	url('fonts/adverlo.ttf?76896712') format('truetype'),
	 	url('fonts/adverlo.svg?76896712#adverlo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	speak: none;
	line-height: 1;
	font-family: 'adverlo';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	speak: none;
	line-height: 1;
	font-family: 'adverlo';
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before { content: '\e800'; }
.icon-angle-right:before { content: '\e801'; }

@font-face {
    font-family: 'Zabal DEMO';
    src: url('fonts/ZabalDEMO-Medium.eot');
    src: url('fonts/ZabalDEMO-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/ZabalDEMO-Medium.woff2') format('woff2'),
        url('fonts/ZabalDEMO-Medium.woff') format('woff'),
        url('fonts/ZabalDEMO-Medium.ttf') format('truetype'),
        url('fonts/ZabalDEMO-Medium.svg#ZabalDEMO-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zabal DEMO';
    src: url('fonts/ZabalDEMO-SemiBold.eot');
    src: url('fonts/ZabalDEMO-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ZabalDEMO-SemiBold.woff2') format('woff2'),
        url('fonts/ZabalDEMO-SemiBold.woff') format('woff'),
        url('fonts/ZabalDEMO-SemiBold.ttf') format('truetype'),
        url('fonts/ZabalDEMO-SemiBold.svg#ZabalDEMO-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LEMON MILK';
    src: url('fonts/LEMONMILK-Regular.eot');
    src: url('fonts/LEMONMILK-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/LEMONMILK-Regular.woff2') format('woff2'),
        url('fonts/LEMONMILK-Regular.woff') format('woff'),
        url('fonts/LEMONMILK-Regular.ttf') format('truetype'),
        url('fonts/LEMONMILK-Regular.svg#LEMONMILK-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zabal DEMO';
    src: url('fonts/ZabalDEMO-Regular.eot');
    src: url('fonts/ZabalDEMO-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/ZabalDEMO-Regular.woff2') format('woff2'),
        url('fonts/ZabalDEMO-Regular.woff') format('woff'),
        url('fonts/ZabalDEMO-Regular.ttf') format('truetype'),
        url('fonts/ZabalDEMO-Regular.svg#ZabalDEMO-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zabal DEMO';
    src: url('fonts/ZabalDEMO-ExtraBold.eot');
    src: url('fonts/ZabalDEMO-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ZabalDEMO-ExtraBold.woff2') format('woff2'),
        url('fonts/ZabalDEMO-ExtraBold.woff') format('woff'),
        url('fonts/ZabalDEMO-ExtraBold.ttf') format('truetype'),
        url('fonts/ZabalDEMO-ExtraBold.svg#ZabalDEMO-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}