/***********************************
MEDIA QUERIES
***********************************/ 
@media only screen and (max-width: 1800px) { 

    /***********************************
    HOMES STYLES
    ***********************************/
    .services-area {

        .container {

            &:after {
                left: -235px;
            }

            &:before {
                right: -470px;
            }
        }
    }

}/* 1800 */

@media only screen and (max-width: 1650px) { 

    /***********************************
    HOMES STYLES
    ***********************************/
    .services-area {

        .container {

            &:after {
                left: -160px;
            }

            &:before {
                right: -400px;
            }
        }
    }

}/* 1650 */

@media only screen and (max-width: 1500px) { 

    /***********************************
    HOMES STYLES
    ***********************************/
    .services-area {

        .container {

            &:after {
                left: -125px;
            }

            &:before {
                right: -340px;
            }
        }
    }

}/* 1500 */

@media only screen and (max-width: 1460px) {

    /***********************************
    HOMES STYLES
    ***********************************/
    .banner {
        padding: 190px 0 260px;

        &__media {
            margin-right: -24px;
        }

        &__wave-layer {
            width: 450%;
        }
    }

    .businesses {

        .container {

            &:after {
                left: -140px; 
            }

            &:before {
                right: -220px; 
            }
        }
    }

    .what-do {
        padding: 100px 0 120px;
    }

    .services-area {
        padding: 120px 0 150px;

        .container {

            &:after {
                left: -100px;
            }

            &:before {
                right: -320px;
            }
        }
    }

}/* 1460 */

@media only screen and (max-width: 1366px) {

    h1, .h1 { font-size: 60px;  line-height: 73px; }

    .entry-title {

        

        .description {

            &.description-lg {

                p {
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }

        .btn {
            margin-top: 30px;
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header {

        .navbar { 

            .navbar-collapse {

                .navbar-nav {
                    margin-left: -15px;
                    margin-right: -15px;

                    > li {
                        margin-left: 15px;
                        margin-right: 15px;

                        > a {
                            font-size: 18px;
                            line-height: 28px;
                        }

                        &.btn-menu {

                            > a {
                                font-size: 16px;
                                line-height: 22px;
                                padding: 16px 23px;
                            }
                        }
                    }

                    &.navbar-right {
                        padding-left: 40px;
                    }
                }
            }
        }
    }

    /***********************************
    HOMES STYLES
    ***********************************/
    .banner {
        padding: 160px 0 230px;

        &__content {
            max-width: 565px;

            .title {
                margin-bottom: 20px;
            }

            .description {

                &.description-lg {

                    p {
                        font-size: 22px;
                        line-height: 32px;
                    }
                }

                p + p {
                    margin-top: 15px;
                }
            }
        }

        &__media {
            margin-right: -24px;
            margin-bottom: -250px;
        }

        &__wave-layer {
            width: 500%;
        }
    }

    .businesses {
        padding: 90px 0 130px;

        &__content {
            margin-bottom: 100px;
        }
    }

    .services-area {
        padding: 100px 0 120px;
    }

} /* 1366 */

@media only screen and (max-width: 1199px) {

    h1, .h1 { font-size: 50px;  line-height: 63px; }

    .entry-title {

        .description {

            &.description-lg {

                p {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 86px;
        min-height: 86px;
    }

    .header {

        &.stop { 

            .navbar { 

                .navbar-collapse {

                    .navbar-nav >  {

                        li {

                            &.btn-menu {

                                > a { 
                                    padding: 13px 20px;
                                } 
                            }
                        }
                    }
                }
            }
        }

        .navbar {

            .navbar-collapse {

                .navbar-nav {
                    margin-left: -10px;
                    margin-right: -10px;

                    > li {
                        margin-left: 10px;
                        margin-right: 10px;

                        &.btn-menu {

                            > a {
                                padding: 14px 20px;
                            }
                        }
                    }

                    &.navbar-right {
                        padding-left: 25px;
                    }
                }
            }
        }
    }

    /***********************************
    HOMES STYLES
    ***********************************/
    .banner {
        padding: 140px 0 200px;

        &__content {

            .title {
                margin-bottom: 15px;
            }

            p + p {
                margin-top: 12px;
            }

            .btn {
                margin-top: 20px;
            }
        }

        &__media {
            margin-right: -24px;
            margin-bottom: -190px;
        }

        &__wave-layer {
            width: 550%;
        }
    }

    .why-adverlo {
        padding-bottom: 100px;
    }

    .businesses {
        padding: 80px 0 100px;

        &__content {
            margin-bottom: 100px;
        }

        &__item {

            &-wrapper { 
                gap: 80px 24px; 
            }

            .icon {
                margin-bottom: 45px;
            }
        }
    }

    .what-do {
        padding: 80px 0 100px;
    }

    .services-area {
        padding: 80px 0 90px;
    }

}/* 1199 */ 

@media only screen and (max-width: 991px) {

    h1, .h1 { font-size: 40px;  line-height: 53px; }
    h2, .h2 { font-size: 36px;  line-height: 46px; }

    .entry-title {

        .description {

            &.description-lg {

                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 101px;
        min-height: 101px;
    }

    .header {

        &.stop { 

            .navbar { 

                .navbar-collapse {

                    .navbar-nav >  {

                        li {

                            &.btn-menu {

                                > a { 
                                    padding: 11px 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .navbar {

            .navbar-header {

                .logo  {

                    .navbar-brand {
                        max-width: 200px;
                    }
                }
            }

            .navbar-collapse {

                .navbar-nav {
                    margin-left: -8px;
                    margin-right: -8px;

                    > li {
                        margin-left: 8px;
                        margin-right: 8px;

                        > a {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        &.btn-menu {

                            > a {
                                font-size: 14px;
                                line-height: 20px;
                                padding: 12px 18px;
                            }
                        }
                    }

                    &.navbar-right {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

    /***********************************
    HOMES STYLES
    ***********************************/
    .banner {
        padding: 130px 0 180px;

        &__content {

            .description {

                p + p {
                    margin-top: 10px;
                }
            }
        }

        &__media {
            margin-right: -24px;
            margin-bottom: -170px;
        }

        &__wave-layer {
            width: 600%;
        }
    }

    .why-adverlo {
        padding-bottom: 80px;
    }

    .businesses {
        padding: 70px 0 80px;

        &__content {
            margin-bottom: 80px;
        }

        &__item {

            &-wrapper { 
                gap: 60px 24px; 
            }

            .icon {
                margin-bottom: 35px;
            }
        }
    }

    .what-do {
        padding: 60px 0 80px;
    }

    .services-area {
        padding: 70px 0;
    }

}/* 991 */

@media only screen and (max-width: 767px) {  

    h1, .h1 { font-size: 38px;  line-height: 48px; }
    h2, .h2 { font-size: 32px;  line-height: 42px; }


    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 89px;
        min-height: 89px;
    }

    .header {

        .navbar {

            .navbar-header {

                .logo  {

                    .navbar-brand {
                        max-width: 150px;
                    }
                }
            }

            .navbar-collapse {

                .navbar-nav { 

                    > li {
                        display: none;
                    }

                    &.navbar-right {

                        li.mobile-navbar-toggler {
                            display: block;
                        } 
                    }
                }
            }
        }
    }

    /***********************************
    HOMES STYLES
    ***********************************/
    .banner {
        padding: 120px 0 120px;

        &__content {
            margin: 0 auto;
            max-width: 425px;
            text-align: center;

            .title {
                max-width: 383px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
            }
        }

        &__media {
            margin: 60px 0 -50px 0;
        }

        &__wave-layer {
            width: 720%;
        }
    }

    .why-adverlo {
        padding-bottom: 60px;

        &__content {
            text-align: center;

            .description {

                p + p {
                    margin-top: 20px;
                }
            }
        }

        &__media {
            margin-top: 45px;
            text-align: center;
        }
    }

    .businesses { 

        &__content {
            margin-bottom: 50px;
        }

        &__item {

            .icon {
                margin-bottom: 30px;
            }

            .title {
                font-size: 22px;
                line-height: 28px;
            }
        }
    }

    .what-do {
        padding: 50px 0 75px;

        &__content {

            .title {
                margin-bottom: 23px;
            }
        }
    }

    .services-area {
        padding: 50px 0;

        &__content {
            max-width: 100%;
            margin-right: 0;
            text-align: center;
            margin-bottom: 50px;
        }

        &__media {
            margin-left: 0;
        }
    }
   
}/* 767 */ 

@media only screen and (max-width: 575px) {

    body {
        font-size: 18px;
        line-height: 28px;
    }

    h1, .h1 { font-size: 32px;  line-height: 42px; }
    h2, .h2 { font-size: 26px;  line-height: 36px; }
    h3, .h3 { font-size: 25px;  line-height: 35px; }

    .btn {
        font-size: 12px;
        font-weight: 400;
        padding: 14px 22px;
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 85px;
        min-height: 85px;
    }

    .header {

        .navbar {
            padding: 24px 0;

            .navbar-header {

                .logo  {

                    .navbar-brand {
                        max-width: 130px;
                    }
                }
            }
        }
    }

    /***********************************
    HOMES STYLES
    ***********************************/
    .banner {
        padding: 113px 0 80px;

        &__content {

            .title {
                max-width: 341px; 
            }
        }

        &__media {
            max-width: 277px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -40px;
        }

        &__wave-layer {
            width: 780%;
        }
    }

    .why-adverlo {
        padding-bottom: 50px;

        &__media {
            max-width: 258px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .businesses { 

        &__item {

            &-wrapper {
                gap: 55px 23px;
            }

            .icon {
                max-width: 80px;
                margin-bottom: 20px;
            }

            .title {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }

    .what-do { 

        &__content {

            .paid {
                max-width: 217px;
                margin: 0 auto 40px;
            }
        }
    }

    .services-area {
        padding: 40px 0 30px;
    }

}/* 575 */

@media only screen and (max-width: 480px) {

    body {
        font-size: 15px;
        line-height: 25px;
    }

    h1, .h1 { font-size: 30px;  line-height: 40px; }

    .entry-title {

        .description {

            &.description-lg {

                p {
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
    }

    /***********************************
    HEADER STYLES
    ***********************************/
    .header-gutter {
        height: 78px;
        min-height: 78px;
    }

    .header {

        .navbar {
            padding: 24px 0;

            .navbar-header {

                .logo  {

                    .navbar-brand {
                        max-width: 99px;
                    }
                }
            }
        }
    }

    /***********************************
    HOMES STYLES
    ***********************************/
    .banner {

        &__content {

            .title {
                max-width: 319px; 
            }

            .btn {
                background-color: $pink;

                &:before {
                    background-color: $primary;
                }
            }
        }

        &__wave-layer {
            width: 900%;
        }
    }

    .businesses {

        &__content {
            max-width: 275px;

            .title {
                text-transform: inherit !important;
            }
        }

        &__item {

            .icon {
                max-width: 58px;
            }

            .title {
                font-size: 15px;
            }
        }
    }

    .services-area {

        &__content {

            .btn {
                font-size: 14px;
                line-height: 22px;
                font-family: $zabal;
            }
        }

        &__media {
            margin-left: auto;
            margin-right: auto;
            max-width: 246.29px;
        }
    }

} /* 480 */